* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.wrapper {
  min-height: 180px;
  width: 400px;
  background-color: rgba(233, 150, 122, 0.507);
}
.header {
  padding: 10px 20px;
}
.header::after {
  content: "";
  display: block;
  clear: both;
}
img {
  border-radius: 100px;
  float: left;
  margin: 0 10px;
}
p {
  margin: 10px 5px;
  font-size: 25px;
}
p span {
  font-size: 15px;
}
.desp {
  text-align: center;
  font-size: large;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
  background-color: darkgrey;
}
ul {
  /* border: 1px solid red; */
  width: 300px;
  margin: 10px auto;
}
ul::after {
  content: "";
  display: block;
  clear: both;
}
li {
  float: left;
  margin: 5px;
  padding: 3px;
  list-style: none;
}
li:hover {
  background-color: burlywood;
  border-radius: 10%;
}
a {
  margin: 10px;
  color: black;
  padding: 5px;
}
